# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

# examples build
examples/dist/
examples/node_modules/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# env
.env
.env.*
!.env.example
